#app {
    margin-top: 15px;
    margin-right: 100px;
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgb(119, 1, 3);
    box-align: center;
    height:auto;
    width:800px;
    transition: 0.3s;
  }
  input.ng-invalid.ng-touched  
  {  
     border-color: red;  
  } 
  input.ng-valid.ng-touched  
  {  
     border-color: green;  
  }
  tr:hover{
    color: darkred;
    left: .1em;
  }